<h2>Listing games</h2>
<%= form_for @conn, user_path(@conn, :update, @current_user, []), [as: :update], fn g -> %>


  <%= select g, :added_game, @addable_games %>
  <%= submit "Submit", class: "btn btn-primary" %>
<% end %>
<table class="table">
  <thead>
    <tr>
      <th>Name</th>
    </tr>
  </thead>
  <tbody>
    <%= for game <- @games do %>
      <tr>
        <td><%= game.name %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link "New game", to: admin_game_path(@conn, :new) %>
