<ul class='nav nav-tabs'>
  <li role='presentation' class='<%= active_on_current(@conn, admin_user_path(@conn, :index)) %>'>
    <%= link "Users", to: admin_user_path(@conn, :index) %>
  </li>
  <li role='presentation' class='<%= active_on_current(@conn, admin_game_path(@conn, :index)) %>'>
    <%= link "Games", to: admin_game_path(@conn, :index) %>
  </li>
</ul>
